/*!
 * 
 * CUSTOM CSS STYLE FOR  CRYPTO LANDING PAGE
 * 
 */


/* Google Fonts  */


 @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:wght@400;500;600;700;800&family=Orbitron:wght@400;500;600&family=Roboto:wght@100&family=Titillium+Web:wght@300;400;600;700;900&display=swap');


	 /* ---------- NAVBAR HEADER NAVIGATION ------------  */
	
	.navbar-toggler .navbar-toggler-icon {

	display: block !important;
	background:url(../img/menu.png) 0 0 no-repeat;
	}

	.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none;
	}

	.main-navigation .logo-header{
	display: block;
	float: left;
	width: 165px !important;height:60px;
	background:url(../img/logo.png) 0 0 no-repeat;
	margin-right: 0;
	margin-top: 10px;
	margin-left: 40px;

	}

	.main-navigation{
	background-color: transparent;
	display: block;
	padding-left: 0;padding-right: 0;
	padding-top: 0;

	}

	.main-navigation .nav-list .nav-link{
	
	font-weight:600;
	color: #fff;
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing: 1px !important;
	margin-right:10px;
	margin-top: 15px;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	}

	.nav-list .nav-item .btn-nav-book{
	background-color: #F55340;
	padding-top: 16px;
	padding-bottom:16px;
	font-size: 14px;
	color: #ffffff;
	border-radius:2px;
	padding-left: 10px;padding-right: 10px;
	border-radius: 5px;
	margin-top: 0;
	display: block;
	float: left;
	width: 250px;
	position: relative;
	}

	.nav-list .nav-item .btn-nav-book span{
	font-size:11px;
	color: #ffffff;
	
	text-transform: capitalize;
	float: left;
	display: block;
	text-align: center;
	width: 100%;
	}

	.nav-list .nav-item .btn-nav-book p{
	font-size:14px;
	color: #ffffff;
	
	text-transform: capitalize;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	}


	.circle {
		width: 12px;
		height: 12px;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 32px;
		left: 20px;
	}
	
	.ringring {
		border: 3px solid #fff;
		-webkit-border-radius: 30px;
		height: 25px;
		width: 25px;
		position: absolute;
		left: 13px;
		top: 26px;
		-webkit-animation: pulsate 1s ease-out;
		-webkit-animation-iteration-count: infinite;
		opacity: 0.0;
	}
	@-webkit-keyframes pulsate {
		0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
		50% {opacity: 1.0;}
		100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
	}

	.nav-list .nav-item .btn-nav-book .fa{
	margin-left: 7px;
	font-size: 16px;
	vertical-align: 1px;
	}

	.nav-list .nav-item .gt-quote{
	background-color: #4638b3;
	/*background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);*/
	padding-top: 8px;
	padding-bottom:8px;
	font-size: 16px;
	color: #ffffff;
	border-radius:2px;
	padding-left: 20px;padding-right: 20px;
	margin-right: 25px;
	}

	.nav-list .nav-item .gt-quote:hover{
	background-color: #4638b3;
	color: #fff !important;
	}



	.main-navigation .nav-list .nav-link:hover{
	cursor: pointer;
	color: #F55340;
	}

	.nav-list .nav-item .btn-nav-book:hover{
	color: #fafafa !important;
	background-color: #F55340;
	}

	.nav-list .dropdown{
	
	font-weight:600;
	color: #313433;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	margin-right:10px;
	text-align: center;
	position: relative;
	margin-top: 18px;

	}

	.nav-list .dropdown a{
	color: #313433;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	text-align: center;
	}
	.nav-list .dropdown a:hover{
	text-decoration: none;
	color: #069455;
	}

	.nav-list .dropdown a .caret{
	padding-top: 10px;
	}


	.nav-list .dropdown .nav-dropdown{
	border-radius: 0;
	width:240px;
	padding-bottom:0;
	padding-top: 0;
	}

	.nav-list .dropdown .nav-dropdown li{
	padding-top:8px;padding-bottom:8px;
	display: inline !important;
	float: left;
	border-right: 1px solid #eee;
	border-top:1px solid #eee; 
	width:100%;
	}

	.nav-list .dropdown .nav-dropdown li:nth-child(2n){
	background-color: #f9f6f6;
	}

	.nav-list .dropdown .nav-dropdown li:nth-child(3n){
	border-right: 0;
	}

	.nav-list .dropdown .nav-dropdown .open-repair{
	width: 100%;
	border: none;
	background-color:#e69906 ;
	padding-top:5px;padding-bottom:5px;
	}

	.nav-list .dropdown .nav-dropdown .open-repair:hover{
	background:#cc8807;
	}

	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair{
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 500;
	border: 0;
	}

	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair .fa{
	margin-left: 10px;
	}

	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:hover{
	text-decoration: underline;
	color: #e0e1e2;
	cursor: pointer;
	}

	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:focus,.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:active{
	outline: none !important;
	box-shadow: none !important;
	}

	.nav-list .dropdown .nav-dropdown li a img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

	.nav-list .dropdown .nav-dropdown a p{
	
	font-weight: 600;
	color: #313433;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding-left: 15px;padding-right: 15px;
	margin-top:0;
	text-align: left!important;
	width: 100%;
	margin-bottom:0;
	}

	.dropdown .nav-dropdown li a:hover{
	color: #e69906;

	}

	.dropdown .nav-dropdown li a>p:hover{
	color:#e69906;
	}

	.nav-list .dropdown .nav-dropdown li:hover{
	background: #f5f6f8;
	}

	.nav-list .dropdown .nav-dropdown .nav-title a img {
	display: block;
	float: left;
	padding-left: 10px;
	}

	.nav-list .dropdown .nav-dropdown .nav-title a p{
	text-align: center !important;
	padding-top:7px;
	color: #313433;
	font-weight: 700;
	}


	.shrink {
	display: block;
	width: 100%;
	}


	.shrink  .shrink {
	display: none;
	}

	.shrink {
	padding-top: 0 !important;
	padding-bottom: 15px !important;
	min-height: 70px !important;
	background-color: #102030;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	}
	


    
	 /* ---------- HERO BANNER AND CONTACT US ------------  */

	#file-a-complaint{
	background: url(../img/online-scam-hero-cover.jpg) no-repeat;
	position: relative;
	background-repeat: no-repeat;
	padding:0px 0 10px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

	}

	.contact-us-form{
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-left: 30px;padding-right: 30px;
	padding-bottom: 30px;padding-top:15px;
	width: 90%;
	background-color: #fafafa;
	box-shadow: 0 5px 20px 5px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);
	position: relative;

	}

	.contact-us-form .contact-title{
	color: #fff;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 21px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
	margin-top: 4px;
	position: absolute;
	top: -27px;
	left: 25px;
	/*background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);*/
	background-color:#f8791b;
	}


	#file-a-complaint .logo-trusted{
	display: block;
	margin-top: 100px;
	}

	.form-group .upload-label{
	
	color: #fff;
	font-size: 13px;
	}
	.form-group .upload-btn {

	font-size: 15px;


	}



	.contact-us-form  .send-message{
	
	font-weight:700;
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 3px;
	background-color:#f8791b;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 20px;
	border-bottom-right-radius:20px;

	}

	.contact-us-form .contact-form-control{
	font-size: 14px;
	color: #ffffff;
	background: #f7f8f9;
	border: 1px solid #c6c8ca;
	border-radius: 1px;
	
	padding-top: 8px;
	font-weight: 600;
	padding-bottom: 8px;
	padding-left: 15px;
	width: 100%;
	}
	.form-control .placeholder{
	color: #073664 !important;
	}

	.contact-form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #073664 !important;
	
	font-weight: 600;
	opacity: 1; /* Firefox */
	}

	input, textarea{
	color: #FFF;
	}


	.contact-us-form .select-title{
	font-size: 16px;
	color: #fff;
	
	font-weight: 500;
	}

	.contact-us-form .select-reason{
	height: 45px;
	margin-bottom: 20px;
	width: 100%;
	}


	#file-a-complaint .contact-informations{
	display: block;
	padding-left: 60px;
	margin-top: 160px;
	}

	.contact-informations h2{
	font-size:34px;
	font-family: 'Titillium Web', sans-serif;
	text-align: left;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: none;
	animation: breath 2s ease-in-out alternate infinite;

	}


	.contact-informations h2 span{
	font-size: 34px;
	font-family: 'Titillium Web', sans-serif;
	text-align: left;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: none;
	animation: breath 2s ease-in-out alternate infinite;

	}

	@keyframes breath {
	from { 
	transform: scale(1);
	}
	to {
	transform: scale(1.03)
	}
	}

	.header-image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


	.contact-informations h5{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	text-align: left;
	margin-bottom: 5px;
	padding-left: 0;
	margin-top: 40px;
	width: 55%;
	}

	.contact-informations h6{
	
	font-weight: 600;
	color: #343333;
	font-size: 17px;
	text-align: left;
	margin-top: 25px;
	padding-left: 0;

	}

	.contact-informations .home-form{
	margin-top:70px;
	display: block;
	}

	.contact-informations .border-small{
	display: block;
	width: 100px;
	border: 2px solid #052E57;
	}

	.contact-informations h6 .fa{
	color: #fff;
	margin-right: 13px;
	}


	.contact-informations .hero-call span img{

	margin-right: 20px;
	margin-left: -20px;
	margin-top: -4px;
	}
	.contact-informations .hero-call span{
	
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center; 
	letter-spacing: 1px;
	border: 3px solid #fff;
	padding-top: 15px;padding-bottom: 15px;
	padding-right: 55px;
	border-radius: 25px;
	background-color: #181f27;

	}

	
	 /* ---------- BACK TO TOP BUTTON ------------  */

   #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: rgba(0,0,0,0.3);
    color: #fafafa;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    }
    #back-to-top:hover {
    background: rgba(0,0,0,0.5);
    }
    #back-to-top.show {
    opacity: 1;
    }


    
	 /* ---------- ONLONE TRADOMG SCAM SECTION ------------  */

	.trade-text{
	padding-top: 90px;padding-bottom:130px;
	background: url(../img/text-image-bck.jpg) no-repeat;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	}

	.trade-text .txt-image{
	margin-top: 0;
	}

	.trade-text .txt-services{
	padding-right: 30px;
	padding-left: 30px;
	margin-top:1;
	}

	

	.txt-services h2{
	color: #161558;
	font-size: 30px;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 45px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;

	}

	.txt-services p{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	color: #1E1D1D;
	font-size: 16px;
	text-align: left;
	line-height: 25px;

	}

	.txt-image img{
	display: block;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	}


   
     
    
    /* LET'S RECOVER YOUR LOST FUNDS section */
    
	#our-process{
	padding-top: 40px;
	padding-bottom: 130px;
	background: #F9FCFC;
	padding-left: 30px;
	}

	#our-process h2{
	color: #161558;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 100px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	width:100%;

	}

	.steps{
	padding-left: 10px;
	padding-top: 65px;
	padding-right: 20px;
	padding-bottom:0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	max-width: 350px;
	position: relative;
	height: 320px;
	background: url(../img/step-1.png) no-repeat;
    position: relative;
 
	}

	.steps:nth-child(3) {
		background: url(../img/step-2.png) no-repeat;
	}

	.steps:nth-child(4) {
		background: url(../img/step-3.png) no-repeat;
	}

	.steps:nth-child(5) {
		background: url(../img/step-4.png) no-repeat;
	}


	.steps .img-icon{
	position: absolute;
	top: -25px;
	left: 108px;
	}

	.steps .stamp-img {
		position: absolute;
		bottom: -33px;
		right: 20px;
	}

	.steps h4{
	color: #191717;
	font-size: 17px;
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	width: 100%;
	float: left;
	display: block;

	}

	.steps .small-text{
	color: #040303;
	font-size: 15px;
	text-align: left;
	margin-top: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	padding-right: 0;
	width: 100%;
	float: left;
	display: block;
	padding-left: 30px;
    padding-right: 65px;

	}

  

    #text-content{
	    background: url(../img/girl-stuped-scam.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    position: relative;
    min-height: 1080px;
	padding-top: 100px;


    }

    #text-content .left-image-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	border-radius: 20px;
    }


    #text-content .txt-right {
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 0px;
    }

	#text-content .txt-right .center-icon{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

  
    #text-content .txt-right h2{
    color: #161558;
    font-size: 27px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
	font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    }

    #text-content .txt-right p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #1E1D1D;
    font-size: 16px;
    text-align: left;
    line-height: 27px;

    }

	
   

    #text-content .txt-right h6 img{
    float: left;
    display: block;
    margin-right: 10px;

    margin-top: 8px;
    }




	.button-quote{
	
	font-weight: 500;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	background: transparent;
	width: 270px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-top: 60px;
	background-color: #F55340;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	margin-bottom: 20px;
	}

	.button-quote .fa{
	margin-left: 8px;
	}

   



	/* ----- SECTION CHOOSE US ----------- */

	.section-trust{
	padding-top: 120px;padding-bottom: 80px;
	background: url(../img/wave-background.jpg) no-repeat;
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100% 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	
	}

	.section-trust .blue-text{
	padding-left: 60px;
	 
	}

	.section-trust  .mix-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	}

	.section-trust h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #161558;
	font-size: 29px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	}



	.section-trust .center-fund{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.section-trust  p{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	color: #1E1D1D;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	margin-bottom: 15px;
	}

	.section-trust  h6{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #1E1D1D;
	font-size: 16px;
	text-align: left;
	margin-bottom: 8px;
	}

	.section-trust  h6 img{
	display: block;
	float: left;
	margin-right: 15px;
	width: 17px;
	margin-top: 3px;
	}


	.section-trust .btn-get-money{
	
	font-weight: 500;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	background: transparent;
	width: 260px;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #F55340;
	display: block;
	float: left;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 65px;
	}

	.section-trust .btn-get-money .fa{
	margin-left: 8px;
	}


	 /* FAQ  SECTION */

	#faq-section-ta{
	background-color: #F9FCFC;
	display: block;
	padding-top:0;
	padding-bottom:100px;

	}

	#faq-section-ta .faq-fund{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	}


	#faq-section-ta .text-faq-box{
	display: block;
	width: 100%;
	margin-bottom: 15px;
	}

	#faq-section-ta .webpro-faq{
	margin-bottom: 15px;
	border: 1px solid;
	padding-top: 12px;padding-bottom: 12px;
	border:  1px solid #e3d8d8;
	border-radius: 5px;
	}

	#faq-section-ta .text-faq-box h3{
	font-family: "Open Sans";
	font-weight: 500;
	color: #343333;
	font-size:18px;

	text-align: center;
	padding-bottom: 7px;
	word-wrap: break-word !important;
	}

	#faq-section-ta .text-faq-box h2{
	color:#052E57;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1005;
	}

	.card-faq{
	margin-bottom: 15px;
	border-radius: 0;

	}

	.webpro-faq .card-body{
	background-color: #ffffff;
	font-family: "Open Sans";
	font-weight:500;
	color: #151515;
	font-size: 15px;
	border-left: 2px solid #052E57;
	}

	.webpro-faq .faq-header{
	padding-top:8px;padding-bottom:8px;
	font-family: "Open Sans";
	font-weight:700;
	color: #313433; 
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border: none;
	white-space: normal !important;
	word-wrap: break-word !important;
	background-color: transparent;
	}

	.webpro-faq .faq-header .btn{
	font-family: "Open Sans";
	font-weight:600;
	color: #151515;
	font-size: 15px;
	white-space: normal !important;
	word-wrap: break-word !important;
	}

	.webpro-faq .faq-header .btn .fa{
	float: right;
	color: #706f6f;

	}
	.webpro-faq .faq-header .btn:hover{
	cursor: pointer;
	color: #052E57;
	}

	.webpro-faq .btn:active,  .faq-header .btn:focus {
	border-color: transparent;
	box-shadow: none;
	color: #052E57;
	text-decoration: none;
	}

	.faq-header .btn:active .fa,  .faq-header .btn:focus .fa {
	border-color: transparent;
	color: #052E57;
	}


	 /* BOTTOM Blue Banner */

	.bottom-banner{
	display: block;
	width: 100%;

	background-color: #052E57;
	padding-bottom: 70px;
	padding-top: 70px;
	background: url(../img/line-shape.png) #052E57;
    background-size: cover;
 	background-position: center center;
	}

	.bottom-banner h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	}


	.bottom-banner .btn-get-money{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	border-radius: 3px;
	background: transparent;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 45px;
	background-color: #F55340;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	margin-bottom: 20px;
	}

	.bottom-banner .btn-get-money .fa{
	margin-left: 8px;
	}


	 /* new design for inner we buy pages*/

		#inner-buy-offer{
		padding-top: 20px;
		padding-bottom: 100px;
		padding-left: 15px;padding-right: 15px;
		display: block;
		width: 100%;
		background-color: #F9FCFC;
		}

		#inner-buy-offer .icon-center{
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}

		#inner-buy-offer h1{
			color: #161558;
			font-size: 32px;
			text-align: center;
			margin-top: 5px;
			margin-bottom:60px;
			font-family: 'Titillium Web', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.main-tabs{

		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 1.5px solid #D2CDCD;
		background-color: #fff;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		padding-bottom: 40px;
		padding-top: 20px;
		}

		.left-box-service{


		position: relative;
		padding-top: 30px;
		padding-left: 10px;
		padding-bottom: 40px;
		}

		.left-box-service h2{
		font-size: 23px;
		font-weight: 700;
		margin-top: 15px;
		margin-bottom: 30px;
		text-align: center;
		color: #F55340;
		font-family: 'Mulish', sans-serif;
		text-transform: uppercase;

		}


		.left-box-service .box-des{

		font-weight: 500;
		color: #292929;
		font-size: 16px;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 15px;
		}

		.tab-image{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		}
	
		/*Services Tabs navigation */
		
	
	.sell-tabs {
	float: left;
	display: block;
	margin-right: 10px;
	border-bottom:0;
	padding-top: 20px;padding-bottom: 20px;
	padding-right:0;
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	width: 100%;
	margin-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding-left: 40px;
	}

	.main-img-top img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}


	.sell-tabs .nav-item{
	display: inline-block;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 0;
	margin-right: 15px;
	border-radius: 5px;
	}


	.sell-tabs .nav-link {
	border: 1px solid transparent;
	background-color:  #fff;
	padding-left: 20px;padding-right: 20px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 15px;
	padding-bottom: 15px;padding-top: 15px;
	color: #05233b;
	text-align: center;
	width: 100%;
	position: relative;
	border-radius: 5px;
	}

	.sell-tabs .nav-link.active {
	background: #F5FCFC;
	border-bottom: 4px solid #F55340;
	color: #F55340;
	}

	.sell-tabs .nav-link.active p{
	color:#F55340;
	}

	.sell-tabs .nav-link p{

	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 0;padding-top:0;
	color: #05233b;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
	}

	
	/* --------------- FOOTER STYLE -------------------  */ 

	footer{
	background:#01172d;
	padding-top:45px;
	padding-bottom:0;
	border-top:7px solid #fff;
	}
	.sub-footer{
	display: block;
	width: 100%;
	padding-top:20px;padding-bottom:20px;
	background-color:#01172d;
	margin-top: 0;
	}

	.sub-footer .copy {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #c5c2c2;
	text-align:left;
	display: block;
	font-size: 11px;

	margin-top: 3px;

	}


	.phone-numbers{
	display: block;
	float: left;
	width: 100%;
	list-style-type: none;
	padding-left: 20px;
	border-top: 1px solid #2b3034;
	border-bottom: 1px solid #2b3034;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	margin-top: 35px;
	}

	.phone-numbers li{
	display: inline-block;
	float: left;

	}

	.phone-numbers  h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #F55340;
	text-transform: uppercase;
	margin-right: 40px;
	margin-top: 15px;
	text-align: center;
	position: absolute;
	left: 45%;
	top: -26px;
	background: #01172d
	}

	.phone-numbers li span{
	width: 100%;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: #EBE7E7;
	padding-left: 60px;
	}

	.phone-numbers li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1px;

	}

	.phone-numbers li a img{
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: -12px;
	width: 40px;height: 40px;
	}

	.link-footer h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
	text-transform: uppercase;
	}

	.link-footer a{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 10px;

	text-decoration: none;
	color: #c5c2c2;
	}

	.link-footer a img{
	display: block;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
	}




    

    /* -------------- SUBMIT CONTACT US FORM ------------- */
	.contact-form .form-title{
	display: block;
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
	background-color: #F55340;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top-left-radius: 5;
	border-top-right-radius: 5;
	margin-bottom: 40px;
	}

	.contact-form img{
	margin-top: 20px;
	}

	.contact-form .form-title span{

	text-align: center;
	color: #fff;
	font-size:15px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;

	}
	.contact-form{
	background-color: #EFF1F3;
	padding-top: 0;
	padding-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
	border: 1px solid #1B4874;
	border-radius: 5px;
	margin-left: 50px;
	display: block;
	float: left;
	margin-top: 145px;
	margin-bottom: 95px;
	} 

	.contact-form form{
	padding-left: 30px;

	}

	.contact-form .form-group{
	display: block;
	float: left;
	width: 45%;
	margin-right: 25px;
	}

	.contact-form .box-message{
	display: block;
	float: left;
	width: 94%;
	margin-right: 25px;
	height: 100px !important;
	}

	.contact-form .form-group .book-form{

	border-radius: 3px;
	}


	.contact-form .button-submit{
	display: block;
	float: left;
	margin-top: 40px;
	width: 94%;
	background-color: #7FD858;
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
		font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	padding-top: 14px;padding-bottom: 14px;

	}


    .jquery-datepicker {
        position: relative;
        outline: none;
        display: none;
        box-sizing: border-box;
        width: 240px;
        height: 240px;
        padding: 5px;
        font-size: 16px;
        font-family: sans-serif;
      }
      .jquery-datepicker .datepicker-box {
        display: none;
        flex-direction: column;
        height: 100%;
      }
      .jquery-datepicker .datepicker-box .box-row {
        display: flex;
        min-height: 0;
        flex: 1;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header {
        flex: none;
        position: relative;
        padding-bottom: 5px;
        padding-right: 60px;
        margin-bottom: 5px;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        padding: 5px 7px;
        cursor: pointer;
        width: 100%;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-actions {
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-actions .header-action {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        float: left;
        height: 100%;
        width: 25px;
        cursor: pointer;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-actions .header-action:not(:last-child) {
        margin-right: 3px;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-actions .header-action::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        margin-top: -6px;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-actions .header-action.action-down::after {
        border-width: 5px 6px 5px 0;
        border-color: transparent red transparent transparent;
      }
      .jquery-datepicker .datepicker-box .box-row.row-header .header-actions .header-action.action-up::after {
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent red;
      }
      .jquery-datepicker .datepicker-box .box-row.row-days {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
      }
      .jquery-datepicker .datepicker-box .box-row.row-week {
        font-size: 14px;
        text-align: right;
      }
      .jquery-datepicker .datepicker-box .box-row .box-cell {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5px;
        cursor: default;
      }
      .jquery-datepicker .datepicker-box.is-active {
        display: flex;
      }
      .jquery-datepicker.is-2x {
        width: 480px;
        height: 480px;
        font-size: 21px;
      }
      .jquery-datepicker.is-2x .datepicker-box .box-row.row-days {
        font-size: 16px;
      }
      .jquery-datepicker.is-2x .datepicker-box .box-row.row-week {
        font-size: 18px;
      }
      .jquery-datepicker.is-open {
        display: block;
      }
      .jquery-datepicker.is-popup {
        position: absolute;
        top: 50px;
        left: 50px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
        z-index: 9999;
      }
      .jquery-datepicker.is-popup::before,
      .jquery-datepicker.is-popup::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
      }
      .jquery-datepicker.is-popup.tip-below::before,
      .jquery-datepicker.is-popup.tip-below::after {
        bottom: -10px;
        border-width: 10px 10px 0 10px;
        border-color: red transparent transparent transparent;
      }
      .jquery-datepicker.is-popup.tip-below::before {
        bottom: -11px;
      }
      .jquery-datepicker.is-popup.tip-above::before,
      .jquery-datepicker.is-popup.tip-above::after {
        top: -10px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent red transparent;
      }
      .jquery-datepicker.is-popup.tip-above::before {
        top: -11px;
      }
      .jquery-datepicker.is-popup.tip-right::before,
      .jquery-datepicker.is-popup.tip-right::after {
        right: 20px;
      }
      .jquery-datepicker.is-popup.tip-left::before,
      .jquery-datepicker.is-popup.tip-left::after {
        left: 20px;
      }
      .jquery-datepicker.theme-light {
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        color: #222222;
      }
      .jquery-datepicker.theme-light .datepicker-box {
        background: #FFFFFF;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-header {
        color: #626262;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-header .header-title:hover {
        color: #222222;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-header .header-actions .header-action.action-down::after {
        border-color: transparent #CCCCCC transparent transparent;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-header .header-actions .header-action.action-up::after {
        border-color: transparent transparent transparent #CCCCCC;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-header .header-actions .header-action.action-down:hover::after {
        border-color: transparent #222222 transparent transparent;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-header .header-actions .header-action.action-up:hover::after {
        border-color: transparent transparent transparent #222222;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-days {
        color: #7b7b7b;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell:hover {
        background: #EEEEEE;
        color: #222222;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-grayed {
        background: transparent;
        color: #CCCCCC;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-today {
        background: #FFFFFF;
        color: #12AFCB;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-today:hover {
        background: #EEEEEE;
        color: #222222;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-marked {
        background: rgba(255, 213, 79, 0.2);
        color: #cf9d00;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-marked:hover {
        background: #EEEEEE;
        color: #222222;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-forbidden {
        background: rgba(229, 115, 115, 0.2);
        color: #b72222;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-selected {
        background: #12AFCB;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-light .datepicker-box .box-row.row-week .box-cell.cell-selected:hover {
        background: #12AFCB;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-light.tip-below::before {
        border-color: #CCCCCC transparent transparent transparent;
      }
      .jquery-datepicker.theme-light.tip-above::before {
        border-color: transparent transparent #CCCCCC transparent;
      }
      .jquery-datepicker.theme-light.tip-below::after {
        border-color: #FFFFFF transparent transparent transparent;
      }
      .jquery-datepicker.theme-light.tip-above::after {
        border-color: transparent transparent #FFFFFF transparent;
      }
      .jquery-datepicker.theme-dark {
        border: 1px solid #323232;
        background: #1B1B1B;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box {
        background: #1B1B1B;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-header {
        color: rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(50, 50, 50, 0.75);
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-header .header-title:hover {
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-header .header-actions .header-action.action-down::after {
        border-color: transparent #323232 transparent transparent;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-header .header-actions .header-action.action-up::after {
        border-color: transparent transparent transparent #323232;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-header .header-actions .header-action.action-down:hover::after {
        border-color: transparent #FFFFFF transparent transparent;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-header .header-actions .header-action.action-up:hover::after {
        border-color: transparent transparent transparent #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-days {
        color: rgba(255, 255, 255, 0.35);
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell:hover {
        background: #323232;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-grayed {
        background: transparent;
        color: #323232;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-today {
        background: #1B1B1B;
        color: #12AFCB;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-today:hover {
        background: #323232;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-marked {
        background: rgba(255, 213, 79, 0.05);
        color: #cf9d00;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-marked:hover {
        background: #323232;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-forbidden {
        background: rgba(229, 115, 115, 0.05);
        color: #b72222;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-selected {
        background: #12AFCB;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark .datepicker-box .box-row.row-week .box-cell.cell-selected:hover {
        background: #12AFCB;
        color: #FFFFFF;
      }
      .jquery-datepicker.theme-dark.tip-below::before {
        border-color: #323232 transparent transparent transparent;
      }
      .jquery-datepicker.theme-dark.tip-above::before {
        border-color: transparent transparent #323232 transparent;
      }
      .jquery-datepicker.theme-dark.tip-below::after {
        border-color: #1B1B1B transparent transparent transparent;
      }
      .jquery-datepicker.theme-dark.tip-above::after {
        border-color: transparent transparent #1B1B1B transparent;
      }
      

   




    

    /* -------------------  RESPOSNIVE DESGIN -------------------  */
    
     
    
	@media (min-width: 2560px) {

		.contact-informations h2{
			
		}

		#text-content .txt-right h2 {
			font-size: 34px;
		}

		.list-fea h6 {
			font-size: 17px;
		}

		#recover-process{
			min-height: 1080px;
		}

		#text-content{
			min-height: 1340px;
			padding-top: 250px;
		}
		
		.l-side h2{
			font-size: 35px;
			margin-top: 80px;
		}
		.split-text h5{
		width: 35%;
		}

		.circle {
		top: 35px;
		}

		.ringring {
		top: 28px;
		}

		.txt-services h3{
		width: 42%;
		}

		.l-side h3{
		width: 49%;
		}

		.l-side p{
		padding-right:0;
		font-size: 17px;
		}

		#recover-process .l-side {
			padding-right: 8%;
			padding-left: 7%;
		}

		#text-content .txt-right {
			padding-left: 4%;
			padding-right: 11%;
			
		}

		.box-process img {
			position: absolute;
			top: 20px;
			left: -6px;
		}

		.box-process h4{
		font-size: 20px;
		margin-top: 20px;
		}

		.box-process .small-text {
		font-size: 17px;
		}

		.split-text {
		padding-left: 7%;
		}

		#text-content .txt-right h3{
		width: 54%;
		}

		.box-fea h4 {
			font-size: 18px;
		}

		.box-fea p {
			font-size: 16px;
		}

		.box-fea{
			padding-left: 40px;
			padding-right: 40px;
		}

		.l-title {
			font-size: 21px;
		}

		.trade-text {
			
		}

		.txt-services h2{
			font-size: 35px;
			text-align: center;
		}

		.txt-services p{
			font-size: 17px;
		}

		.txt-services h6{
			font-size: 17px;
		}

		.feedback .client-title{
			font-size: 34px;
			display: block;
			float: left;
			width: 100%;
		}

		.txt-image img {
			display: block;
			margin-top:0;
			max-width: 58%;
			
		}

		.card-impressions {
			display: block;
			background-color: rgba(2, 32, 68, 0.45);
			border-radius: 6px;
			max-width: 60%;
		}

		.txt-choose h2 {
			font-size:px ;
		}

		.final-banner{
			min-height: 1200px;
		}
	

		.final-banner h2 {
		font-size: 31px;
		margin-bottom: 60px;
		margin-top: 10px;
		}

		.final-banner h3 {
			font-size: 19px;
		}

		.final-banner p{
			font-size: 18px;
			padding-right: 15%;
		}

		.final-banner .btn-get-money{
			margin-top: 120px;
			margin-left: 0;
		}

		.split-text h4 {
			font-size: 32px;
		}

		.contact-form {
			width: 70%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		#file-a-complaint {
		
			
		}

		#file-a-complaint .contact-informations {
			display: block;
			padding-left: 265px;
			padding-top: 50px;
		}

		#file-a-complaint .logo-trusted {
			display: block;
			position: absolute;
			bottom: 30px;
			right: 23%;
		}

		.final-banner .blue-text {
			padding-left: 140px;
			margin-top: 150px;
		}




	}/* End 2560px Responsive Design extra large  */
    

	@media only screen and (max-width: 1400px){

		

		.sell-tabs .nav-link {
			padding-left: 15px;
			padding-right: 15px;
		}

		.left-box-service h2 {
			font-size: 21px;
		}

		.sell-tabs .nav-link p{
			font-size: 15px;
		}

		.contact-informations h5{
			width: 70%;
		}

		.steps .small-text{
			padding-right: 20px;
			padding-left: 20px;
		}
    

	}  /* End 1400  */



	/* Responsive Design Changes fixes CSS Tablet  */

    @media (max-width: 1200px) {
		
		
	

		.contact-informations h2 span{
			font-size: 23px;
		}

		#our-process h2{
			font-size: 29px;
		}

		.steps h4{
			font-size: 16px;
		}

		.trade-text .txt-services{
			padding-left: 10px;
			padding-right: 10px;
		}

		.txt-services h2 {
			font-size: 28px;
		}

		#inner-buy-offer h1{
			font-size: 28px;	
		}

		.sell-tabs .nav-item{
			width: 29%;
			margin-bottom: 10px;
		}

		.section-trust h2{
			font-size: 26px;
		}

		#text-content .txt-right h2{
			font-size: 25px;
		}
    


    }/* end  max widht 1200px  */
        

    @media (max-width: 991px) {

		
		.main-navigation{
			background-color: #069455;
		}
       
       


    }  /* end  max widht 991px  */
	


   

    @media (max-width: 767.98px) {

       
		
        .contact-form{
            margin-left: 10px;
        }

        .contact-form form {
            padding-left: 10px;
        }
        
     

      
        


        

      



	}   /* /End responsive Tablet size */




	/* Responsive Design Changes adds CSS Mobile phones*/

	
	@media (max-width: 575.98px) { 
		
	
    
		.contact-form {
			width: 99%;
			margin-bottom: 20px;
			margin-top: 30px;
		}

		.trade-text .txt-image {
			margin-top: 0;
		}
		#recover-process {
			padding-top: 40px;
			padding-bottom: 50px;
			background: url(../img/background-lines.jpg) no-repeat;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.box-process .small-text {
			font-size: 14px;
			margin-bottom: 0;
		}
		
		.trade-text{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			padding-bottom: 40px;
		}

		.txt-image img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
		}

		.nav-list .nav-item .btn-nav-book{
			width: 315px;
		}

		.nav-list .nav-item .btn-nav-book p{
			font-size: 13px;
		}

		.txt-image .btn-go-money {
			font-size: 13px;
			width: 263px;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-bottom: 30px;
		}

		.l-side h2 {
			font-size: 21px;
			margin-bottom: 25px;
			text-align: center;
		}

		.box-process img {
			position: relative;
			top: 0;
			left:0;
			width: 60px;
			height: 60px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.box-process {
		max-width: 95%;
		margin-left: 20px;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-top: 20px;
		margin-bottom: 0;
		padding-top: 0;
		}

		.box-process h4 {
		font-size: 15px;
		}

		.l-side p{
		margin-bottom: 20px;
		}

	
		#file-a-complaint{
			background: url(../img/online-scam-hero-cover.jpg) no-repeat;
			background-color: #01172d;
		    background-size: contain;
    		background-repeat: no-repeat !important;
    		background-position: top;
			margin-top: 73px;
		}

		.header-image {
			display: none;
			margin-left: auto;
			margin-right: auto;
		}

		#scammer-info .scam-text h3 {
			font-size: 16px;
			text-align: left;
			color: #F55340;
		}

		.webpro-faq .faq-header{
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left:0;
		}

		.webpro-faq .faq-header .btn {
			font-size: 13px;
		}

		.webpro-faq .faq-header .btn .fa {
			float: right;
			color: #706f6f;
			margin-top: 1px;
		}

		#faq-section-ta .text-faq-box h4{
			font-size: 16px;
		}

		#trust-us .txt-headline-1 h4 {
			font-size: 20px;
		}

		#choose-us .text-box h3 {
			font-size: 15px;
			margin-top: 10px;
		}

		#lost-money .intext h3 {
			font-size: 15px;
			
		}

		.adress-nav {
			float: left;
			padding-left: 10px;
			margin-top: 5px;
		}

		.phone-numbers li a {
			font-size: 15px;
		}

		.sub-footer .copy{
			padding-left: 10px;
		}

		#trust-us {
			padding-bottom: 60px;
			padding-left: 0;
		}

		.phone-numbers li{
			display: block;
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}

		.phone-numbers li h4 {
			display: block;
		}

		.adress-nav  img{
			width: 80%;
		}

		#text-content .txt-right h6{
			margin-bottom: 15px;
			font-size: 13px;
		}
	
		.split-text h5 {
			text-align: center;
			padding-left: 20px;
			width: 95%;
		}
		
		#text-content .txt-right h6 img{
			margin-top: 4px;
		}

		.split-text h4 {
			font-size: 24px;
			text-align: center;
		}

		.money-refund li img {
		display: block;
		float: left;
		margin-right: 10px;
		width: 20px;
		}

		.split-text h6{
			margin-left: 0;
			margin-bottom: 12px;
			font-size: 14px;
		}
		.intext .btn-money{
			font-size: 14px;
			padding-top: 15px;padding-bottom: 15px;
			width: 255px;
		}

		.contact-informations h2 span {
			font-size: 17px;
			color: #fff;
			
		}

		.contact-informations h2 {
			font-size: 17px;
			color: #fff;
			margin-top: 80px;
		}

        .contact-form{
            margin-left: 0;
        }

        .contact-form .form-title span {
            font-size: 10px;
        }


		
        .contact-form .form-title {
            font-size: 14px;
        }

        .contact-form .form-group {
            display: block;
            float: left;
            width: 94%;
            margin-right: 25px;
        }

        .contact-form .button-submit{
            font-size: 18px;
        }

		#our-process{
			padding-left: 20px;
		}

		.steps{
			margin-bottom: 40px;
		}

		#file-a-complaint .contact-informations{
			padding-left: 25px;
		}

		.contact-informations h5 {
			width: 100%;
		}

		#file-a-complaint .logo-trusted {
			display: block;
			margin-top: 40px;
		}

		#our-process h2 {
			font-size: 25px;
			margin-bottom: 50px;
			text-align: center;
		}

		.txt-services h2 {
			font-size: 23px;
		}

		#inner-buy-offer h1 {
			font-size: 23px;
		}
		
		.sell-tabs .nav-item {
			width: 40%;
			margin-bottom: 10px;
		}

		#text-content .txt-right {
			padding-right: 25px;
			padding-left: 25px;
			margin-top: 0px;
		}

		#text-content .txt-right h2 {
			font-size: 21px;
		}

		.section-trust .blue-text {
			padding-left: 20px;
		}

		.bottom-banner h2 {
			font-size: 22px;
		}
     

     

	} /* end mobile responsive media querie*/

